  
  body{
    background-color: #e3e6e3;
    font-size: 16px;
    line-height: 1.6;
   }

   div.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    display: inline;
    width: 170px;
   }
  
   #title{
    
    margin-top: 25px;
    margin-bottom: 25px;
    border: 10px solid black;
   }

   #title h1{
    text-align: center;
    font-size: 8vh;
    text-shadow: 5px 5px 10px rgb(244, 75, 14);
   }

   #img{
     text-align: center;
     font-size: 10px;
   }
   
   #pics{
    width: 100%;
    margin-left: 5%;
   }

   #disc{
    width: 100%;
   }

   #stats{
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
   }

   footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    }

   
    @media only screen and (max-width: 767px) {
      body {
          font-size: 14px;
      }
  
      footer {
          font-size: 14px;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      body {
          font-size: 18px;
      }
    }
   
    @media only screen and (min-width: 992px) {
      body {
          max-width: 960px; /* Adjust as needed */
          margin: 0 auto;
      }
    }